In [ ]:
#installing  pyspark library
!pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.3.2.tar.gz (281.4 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 281.4/281.4 MB 4.1 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 199.7/199.7 KB 11.4 MB/s eta 0:00:00
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.2-py2.py3-none-any.whl size=281824028 sha256=15ffc00f8f603c10be11a8614a807f5429ed8359a15199ed9f41f7d640f5fc43
  Stored in directory: /root/.cache/pip/wheels/6c/e3/9b/0525ce8a69478916513509d43693511463c6468db0de237c86
Successfully built pyspark
Installing collected packages: py4j, pyspark
  Attempting uninstall: py4j
    Found existing installation: py4j 0.10.9.7
    Uninstalling py4j-0.10.9.7:
      Successfully uninstalled py4j-0.10.9.7
Successfully installed py4j-0.10.9.5 pyspark-3.3.2

In [ ]:
from pyspark.sql import SparkSession

In [ ]:
spark = SparkSession.builder.appName('DataFrame').getOrCreate()

spark

In [ ]:
wordListRdd = spark.sparkContext.textFile("/content/drive/MyDrive/spark/word_list-1.txt")

In [ ]:
lineWithFiction = wordListRdd.filter( lambda line: "fiction.txt" in line)

In [ ]:
for text in lineWithFiction.collect():
  print("The line that has fiction.txt in it is: ", text)

The line that has fiction.txt in it is:  467 current fiction substrings (fiction.txt)

In [ ]:
countOf467 = lineWithFiction.filter(lambda line: "467" in line).count()
print("Frequency of 467 in the line that has fiction.txt is ",countOf467)

Frequency of 467 in the line that has fiction.txt is  1

1 B)

In [ ]:
shakespeareRdd = spark.sparkContext.textFile("/content/drive/MyDrive/spark/shakespeare-1.txt")

In [ ]:
shakespeareRdd_lc = shakespeareRdd.map(lambda line: line.lower()).collect()

In [ ]:
shakespeareRdd_rev = shakespeareRdd_lc[-10:]
for text in shakespeareRdd_rev:
  print(text)

http://www.gutenberg.org/1/0/2/3/10234

or filename 24689 would be found at:
http://www.gutenberg.org/2/4/6/8/24689

an alternative method of locating ebooks:
http://www.gutenberg.org/gutindex.all

*** end: full license ***

1 C)

In [ ]:
from pyspark.sql.functions import count

In [ ]:
columns = ["hotel", "is_canceled", "lead_time", "arrival_date_year", "arrival_date_month",
           "arrival_date_week_number", "arrival_date_day_of_month", "stays_in_weekend_nights",
           "stays_in_week_nights", "adults", "children", "babies", "meal", "country", 
           "market_segment", "distribution_channel", "is_repeated_guest", "previous_cancellations",
           "previous_bookings_not_canceled", "reserved_room_type", "assigned_room_type",
           "booking_changes", "deposit_type", "agent", "company", "days_in_waiting_list",
           "customer_type", "adr", "required_car_parking_spaces", "total_of_special_requests",
           "reservation_status", "reservation_status_date"]

In [ ]:
hotel_dataFrame = spark.read.csv("/content/drive/MyDrive/spark/hotel_bookings.csv", header=True, inferSchema=True)

In [ ]:
hotel_dataFrame = hotel_dataFrame.toDF(*columns)

In [ ]:
parking_requirement_july = hotel_dataFrame.filter((hotel_dataFrame.required_car_parking_spaces >= 1) & 
                                                  (hotel_dataFrame.arrival_date_year == 2015) & 
                                                  (hotel_dataFrame.arrival_date_month == 'July')).count()
print('The total number of customers who need parking space in july 2015 is ', parking_requirement_july)

The total number of customers who need parking space in july 2015 is  215

In [ ]:
transitedPartyCustomers_august = hotel_dataFrame.filter((hotel_dataFrame["arrival_date_year"] == 2015) & 
                                                        (hotel_dataFrame["arrival_date_month"] == "August") & 
                                                        (hotel_dataFrame["customer_type"] == "Transient-Party")).count()
print('The total number of transited party customers in august 2015 is', transitedPartyCustomers_august)

The total number of transited party customers in august 2015 is 1476

3 A)

In [ ]:
hotelsCount = hotel_dataFrame.select('hotel').distinct().count()
print('The total number of distinct hotels in the dataframe are', hotelsCount)

The total number of distinct hotels in the dataframe are 2

3 B)

In [ ]:
adultsDataCollection = hotel_dataFrame.filter((hotel_dataFrame.hotel == 'City Hotel') & 
                       (hotel_dataFrame.arrival_date_month == 'August') & 
                       (hotel_dataFrame.arrival_date_year == 2015) & 
                       (hotel_dataFrame.children > 0)).collect()
totalAdults = sum(int(item['adults']) for item in adultsDataCollection)
print('The total number of adults with children who booked room in City hotel in august 2015  are', totalAdults)

The total number of adults with children who booked room in City hotel in august 2015 is  188

3 C)

In [ ]:
canceledReservations = hotel_dataFrame.filter((hotel_dataFrame.is_canceled == 1) & (hotel_dataFrame.arrival_date_year == 2017)).count()
print(canceledReservations, ' reservations are canceled in the year 2017')

15745  reservations are canceled in the year 2017

3 D)

In [ ]:
categoryCBookings = hotel_dataFrame.filter(hotel_dataFrame.reserved_room_type == 'C').count()
print('The total number of category C bookings are', categoryCBookings)

The total number of category C bookings are 932

3 E)

In [ ]:
assignedRoomTypeA = hotel_dataFrame.filter(hotel_dataFrame.assigned_room_type == 'A').count()
print('The number of rooms with  assigned room type A are ', assignedRoomTypeA)

The number of rooms with  assigned room type A are  74053

3 F)

In [ ]:
directBookings = hotel_dataFrame.filter(hotel_dataFrame.market_segment == 'Direct').count()
print(directBookings,' of the bookings are booked direct in market segment')

12606  of the bookings are booked direct from the market